<footer class="footer footer-copyright">
	<div class="container">
	
		<div class=" mt-4 footer__made justify-content-between pt-4 pb-4">
			<p class="">Mentions Légales - Conditions générales d'utilisation - Politique de confidentialité - Gestion des cookies</p>
			<p class="mt-2 mt-sm-2 mt-lg-0 ">© 2023 Hatim M, Developpeur Web Junior.<a href="https://www.studi.com/fr">
					Studi School</a>
			</p>
		</div>
	</div>
</footer>