{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- modifier le mot de passe
{% endblock %}

{% block body %}
	<div class="container body-height">
		<h1 class="mt-4">Modification du mot de passe</h1>

        {% for message in app.flashes('danger') %}
        <div class="alert alert-danger mt-3">
        {{ message }}</div>
    	{% endfor %}
        
		<form action="" class="col-md-4">
			{{ form(form) }}
		</form>
	</div>
{% endblock %}