{% extends 'base.html.twig' %}

{% block title %}{{parent() }}- Inscription
{% endblock %}

{% block body %}
	<div class="container mb-5 pb-4 body-height">
		<h1 class="mt-4 pt-2">Créer un utilisateur</h1>

		<form action="" class="col-md-4">
			{{ form(form) }}
		</form>

	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('assets/js/select2.js')}}"></script>
{% endblock %}
